/* images styling  */

body{
    background-image: url(/images/day-background.gif);
    background-size:cover;
    background-repeat: no-repeat;
    margin:0px;
    
}


/* phases of yoda styling */
/* center the yodas on the page */
#yodas{
  margin: auto;
  width: 20px;
  height: 20px;
  padding: 10px;
}

#yoda1{
    position:absolute;
    display:block;
    height:15%;
    width:7%;
    animation: jump 0.5s ease-in infinite;
}

#yoda2{
    position:absolute;
    display:none;
    height:15%;
    width:10%;
    animation: jump 0.5s ease-in infinite;
}

#yoda3{
    text-align: center;
    position:absolute;
    display:none;
    height:15%;
    width:10%;
    animation: jump 0.5s ease-in infinite;
}

/* Jump animation for yodas */
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* style the instructions */
aside{
    display: block;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

/* style the metrics */
table{
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    background-color: #45B8AC;
}




