/* images styling  */

body{
    background-image: url(/images/day-background.gif);
    background-size:cover;
    margin:0px;
}


/* phases of yoda styling */

#yodas{
    text-align: center;
}


#yoda1{
    position:absolute;
    display:block;
    height:15%;
    width:7%;
    animation: jump 0.5s ease-in infinite;
}

#yoda2{
    position:absolute;
    display:block;
    height:15%;
    width:10%;
    animation: jump 0.5s ease-in infinite;
}

#yoda3{
    text-align: center;
    position:absolute;
    display:block;
    height:15%;
    width:10%;
    animation: jump 0.5s ease-in infinite;
    
}

/* Jump animation  */
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}